<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.surejahit.career_guidance_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SplashActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Language_Activity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".jobpackage.ArchiActivity" />
        <activity android:name=".jobpackage.AutoActivity" />
        <activity android:name=".jobpackage.CAActivity" />
        <activity android:name=".jobpackage.CivilActivity" />
        <activity android:name=".jobpackage.DentalActivity" />
        <activity android:name=".jobpackage.ECActivity" />
        <activity android:name=".jobpackage.ElectActivity" />
        <activity android:name=".jobpackage.ItActivity" />
        <activity android:name=".jobpackage.MbaActivity" />
        <activity android:name=".jobpackage.MbbsActivity" />
        <activity android:name=".jobpackage.MechActivity" />
        <activity android:name=".jobpackage.PlasticActivity" />
        <activity android:name=".jobpackage.TexttileActivity" />
        <activity android:name=".CareerAfter10th">
            <intent-filter>
                <action android:name="com.example.surejahit.career_guidance_app.CareerAfter10th" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".science11_12th">
            <intent-filter>
                <action android:name="com.example.surejahit.career_guidance_app.science11_12th" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".commerce11_12th">
            <intent-filter>
                <action android:name="com.example.surejahit.career_guidance_app.commerce11_12th" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".arts11_12th">
            <intent-filter>
                <action android:name="com.example.surejahit.career_guidance_app.arts11_12th" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Diploma">
            <intent-filter>
                <action android:name="com.example.surejahit.career_guidance_app.Diploma" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".in_eng">
            <intent-filter>
                <action android:name="com.example.surejahit.career_guidance_app.in_eng" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CareerAfter_g">
            <intent-filter>
                <action android:name="com.example.surejahit.career_guidance_app.CareerAfter_g" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".CareerAfter_pg">
            <intent-filter>
                <action android:name="com.example.surejahit.career_guidance_app.CareerAfter_pg" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Engpackage.ComputerEng" />
        <activity android:name=".Engpackage.MechanicalEng" />
        <activity android:name=".Engpackage.CivilEng" />
        <activity android:name=".Engpackage.EcEng" />
        <activity android:name=".CareerAfter12th" />
    </application>

</manifest>